/* === html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - //richclarkdesign.com Twitter: @rich_clark === */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, #footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, #footer, header, menu, nav, section {
  display: block;
}
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, select {
  vertical-align: middle;
}

/* Main */

body {
  font-family: 'Open Sans','Noto Sans Japanese', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", 'Hiragino Kaku Gothic ProN', 'Helvetica, Arial', 'sans-serif';;
  font-size: 25px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background-color: #f8f8f8;
}
.contents {
  font-family: 'Playfair Display';
}
.contents a {
  text-decoration: none;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
}
.contents a:before, .contents a:after {
  content: "";
  height: 1px;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 1.4em;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.contents a:hover {
  opacity: .85;
}
.contents a:before {
  left: 50%;
}
.contents a:after {
  right: 50%;
}
.contents a:hover:before, .contents a:hover:after {
  width: 50%;
}
body::-webkit-scrollbar {
  width:0;
}
 ::-moz-selection {
  color: #f8f8f8;
  background-color: rgba(92, 92, 92, .5);
}
 ::selection {
  color: #f8f8f8;
  background-color: rgba(92, 92, 92, .5);
}
header, #footer, [id^="page"] {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-position: 50% 50%;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
footer {
  height: 140vh;
}
header, [id^="page"] {
  margin-bottom: 40vh;
}
[id^="page"]:nth-child(odd) .contents,[id^="page"]:nth-child(odd) .contents a {
  color: #f8f8f8;
}
[id^="page"]:nth-child(even) .contents,[id^="page"]:nth-child(even) .contents a {
  color: #462e22;
}
[id^="page"]:nth-child(odd) .contents a:before, [id^="page"]:nth-child(odd) .contents a:after {
  background: #f8f8f8;
}
[id^="page"]:nth-child(even) .contents a:before, [id^="page"]:nth-child(even) .contents a:after {
  background: #462e22;
}
#page1 {
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(page1.jpg) no-repeat center/cover;
  background:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(page1.jpg) no-repeat center/cover;
  background:-o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(page1.jpg) no-repeat center/cover;
  background:linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(page1.jpg) no-repeat center/cover;
  z-index: 2;
}
#page2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/438041/720x450) no-repeat center/cover;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/438041/720x450) no-repeat center/cover;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/438041/720x450) no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/438041/720x450) no-repeat center/cover;
  z-index: 3;
}
#page3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(//source.unsplash.com/collection/546927/720x450) no-repeat center/cover;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(//source.unsplash.com/collection/546927/720x450) no-repeat center/cover;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(//source.unsplash.com/collection/546927/720x450) no-repeat center/cover;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(//source.unsplash.com/collection/546927/720x450) no-repeat center/cover;
  z-index: 4;
}
#page4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/236/720x450) no-repeat center/cover;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/236/720x450) no-repeat center/cover;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/236/720x450) no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/236/720x450) no-repeat center/cover;
=======
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/438041/720x450) no-repeat center/cover;
  z-index: 3;
}
#page3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(//source.unsplash.com/collection/546927/720x450) no-repeat center/cover;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(//source.unsplash.com/collection/546927/720x450) no-repeat center/cover;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(//source.unsplash.com/collection/546927/720x450) no-repeat center/cover;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAG/v//7wPCIDkmbApQxAAZ7QaVaX9fAwAAAABJRU5ErkJggg==) repeat, url(//source.unsplash.com/collection/546927/720x450) no-repeat center/cover;
  z-index: 4;
}
#page4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/236/720x450) no-repeat center/cover;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/236/720x450) no-repeat center/cover;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/236/720x450) no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABdJREFUCB1jYEADjFC+D0ycCcaA0RgCAA2hAFKbHc0tAAAAAElFTkSuQmCC) repeat, url(//source.unsplash.com/collection/236/720x450) no-repeat center/cover;
  z-index: 5;
}
.scroll-dot {
  height: 100vh;
  position: absolute;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.scroll-dot a {
  height: 6px;
  width: 6px;
  margin: 5px 0;
  border-radius: 50%;
}
.scroll-dot a:not(.now) {
  border: 1px solid rgba(0,0,0,.5);
  background-color: rgba(248,248,248,.5);
}
.now {
  border: 1px solid rgba(248,248,248,.5);
  background-color: rgba(0,0,0,.5);
}
.myicon {
  border-radius: 50%;
  margin: 0 auto;
  background-image: url(2001y.jpg);
  background-size: cover;
}

header {
  color: #f8f8f8;
  font-size: 2.5em;
  background: url(header.jpg) no-repeat center/cover;
  z-index: 1;
}
header h1 {
  font-family: 'Noto Sans Japanese';
  font-weight: 100;
  line-height: 1;
  margin-top: 15px;
}
header h1 strong {
  font-family: 'Open Sans';
  margin-right: .3em;
}
header .myicon {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border: 3px solid #f8f8f8;
}
.scroll-icon {
  position: absolute;
  bottom: 9vh;
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scroll-icon 1.5s infinite;
  animation: scroll-icon 1.5s infinite;
}
@-webkit-keyframes scroll-icon {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scroll-icon {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
h2 {
  font-family: 'Wire One';
  font-size: 3.5em;
  margin-bottom: 20px;
}
.profile {
  list-style-type: none;
}
#footer {
  height: 100vh;
  color: #f8f8f8;
  background: url(footer.jpg) no-repeat left/cover;
  z-index: 6;
}
#footer .myicon {
  width: 77px;
  height: 77px;
  border: 2px solid #f8f8f8;
}
.mysns {
  height: 100vh;
  position: absolute;
  right: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mysns a {
  color: #f8f8f8;
  text-decoration: none ;
}
.mysns div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mysns span {
  font-family: 'Quicksand';
  font-size: 15px;
  padding: 5px 10px 5px 5px;
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0;
}
.mysns div:hover span {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.mysns div:hover img {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 1;
}
.mysns img {
  height: 40px;
  width: 40px;
  margin: 5px 0;
  opacity: .7;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}
.copyright {
  font-family: 'Noto Sans Japanese';
  font-size: .7em;
  font-weight: 300;
  width: 100vw;
  position: absolute;
  bottom: 5vh;
  left: 0;
  opacity: .8;
}

@media screen and (min-width:912px) {
  .br {
    display: none;
  }
}
@media screen and (min-width:414px) {
  .copyright .br {
    display: none;
  }
}

/* Noto Sans Japanese (japanese) //www.google.com/fonts/earlyaccess */
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.otf) format('opentype');
}

/* cyrillic-ext */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v14/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* vietnamese */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(//fonts.gstatic.com/s/quicksand/v6/NUrn2XQrRfyGZp5MknntaYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Wire One';
  font-style: normal;
  font-weight: 400;
  src: local('Wire One'), local('WireOne'), url(//fonts.gstatic.com/s/wireone/v7/rLTvRwYavTGtXnsB7H7e_HYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(//fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1CRw5vVFbIG7DatP53f3SWfE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}